<% provide :title, t(".title") %>
<h1><%= t".title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <%= t ".the_form_contains" %>
            <%= pluralize @user.errors.count, "error" %>.
          </div>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, t(".confirmation") %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit t(".create_acc"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
